/** Foundational Source for this code: 
    https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive
    https://www.w3schools.com/css/css_image_gallery.asp */


div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

div.preview {
  max-height:200px;
  min-height: 200px;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.modal {
  border: 5px solid;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
  z-index: 1;
  /* Puts this in front of the other elements. */
  background-color: red;
  width: 95%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.border-on {
  border-style: solid;
  border-width: 1px;
}


.col-1 {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.col-2 {
  padding: 0 6px;
  float: left;
  width: 49.99999%;
}

.col-3 {
  padding: 0 6px;
  float: left;
  width: 74.99999%;
}

.col-4 {
  padding: 0 6px;
  float: left;
  width: 99.99999%;
}

/* For smaller screens. Because the elements will be stacked now.*/
@media only screen and (max-width: 700px) {
  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }
}

.red {
  background-color: red;
}

/* For the sticky header element
    https://stackoverflow.com/questions/1216114/how-can-i-make-a-div-stick-to-the-top-of-the-screen-once-its-been-scrolled-to */
.fixedElement {
  background-color: #c0c0c0;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

